.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}


.link.purchase {
  stroke: #2ecc71;
}

.link.refund {
  stroke: #3498db;
}

.link.personalLoan {
  stroke: #9b59b6;
}

.link.personalLoanPayment {
  stroke: #e67e22;
}

.link.businessLoan {
  stroke: #e74c3c;
}

.link.businessLoanPayment {
  stroke: #1abc9c;
}

circle {
  fill: #2c3e50;
  stroke: #2c3e50;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
