h2, p{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#legend{
  top: 5px;
  left: 5px;
  position: absolute;
  width: 25%;
  height: 25%;
}

#legend p{
  padding: 0;
  margin: 0;
}

#info{
  top: 5px;
  right: 5px;
  position: absolute;
  width: 25%;
  height: 25%;
  text-align: right;
}

#info p{
  padding: 0;
  margin: 0;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #2c3e50;
  stroke: #2c3e50;
  stroke-width: 1.5px;
}

.purchase {
  color: #16a085;
  stroke: #16a085;
}

.refund {
  color: #27ae60;
  stroke: #27ae60;
}

.personalLoan {
  color: #2980b9;
  stroke: #2980b9;
}

.personalLoanPayment {
  color: #f39c12;
  stroke: #f39c12;
}

.businessLoan {
  color: #d35400;
  stroke: #d35400;
}

.businessLoanPayment {
  color: #c0392b;
  stroke: #c0392b;
}

.bank {
  fill: #8e44ad;
  color: #8e44ad;
  stroke: #8e44ad;
}

.person {
  fill: #2c3e50;
  color: #2c3e50;
  stroke: #2c3e50;
}

.store {
  fill: #7f8c8d;
  color: #7f8c8d;
  stroke: #7f8c8d;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
